<div class="wrapper">
    <!--Header-->
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8"
            style="background-image: url('assets/img/bg5.jpg') ;">
        </div>
        <div class="container">
            <div class="content-center">
                <div class="photo-container">
                    <img src="assets/img/ryan.jpg" alt="">
                </div>
                <h3 class="title">Halil İbrahim ŞENAYDIN</h3>
                <p class="category">Öğrenci</p>
                <div class="content">
                    <div class="social-description">
                        <h2>26</h2>
                        <p>Agno</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Body-->
    <div class="section">
        <div class="container">
            <div class="button-container">
                <a class="btn btn-primary btn-round btn-lg" title="Mesaj Gönder"><i class="now-ui-icons ui-1_send"></i></a>
            </div>

            <h3 class="title">Senin İçin</h3>
            <h5 class="description">“Parayı köleniz yapın, yoksa efendiniz olur.” <br /> - George Bernard Shaw</h5>
            <div class="row">
                <div class="col-md-12">
                    <h4 class="title text-center"></h4>
                    <ngb-tabset [justify]="'center'" type="pills"
                        class="nav nav-pills nav-pills-primary  nav-pills-just-icons justify-content-center tab-space">
                        <!--About Student-->
                        <ngb-tab>
                            <ng-template ngbTabTitle>
                                <i class="now-ui-icons business_badge"></i>
                            </ng-template>
                            <ng-template ngbTabContent>

                            </ng-template>
                        </ngb-tab>

                        <!--Lecture Program-->
                        <ngb-tab>
                            <ng-template ngbTabTitle>
                                <i class="now-ui-icons education_glasses"></i>
                            </ng-template>
                            <ng-template ngbTabContent>

                            </ng-template>
                        </ngb-tab>

                        <!--Exam Result-->
                        <ngb-tab>
                            <ng-template ngbTabTitle>
                                <i class="now-ui-icons education_paper"></i>
                            </ng-template>
                            <ng-template ngbTabContent>

                            </ng-template>
                        </ngb-tab>

                        <!--Student Note Card-->
                        <ngb-tab>
                            <ng-template ngbTabTitle>
                                <i class="now-ui-icons education_hat"></i>
                            </ng-template>
                            <ng-template ngbTabContent>

                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
        </div>
    </div>
</div>