<div class="wrapper">
    <!--Header-->
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8"
            style="background-image: url('assets/img/bg5.jpg') ;">
        </div>
        <div class="container">
            <div class="content-center">
                <div class="photo-container">
                    <img src="{{url}}/{{studentDetail.personDetail.profilePicture.path}}" alt="">
                </div>
                <h3 class="title">{{studentDetail.personDetail.firstName}} {{studentDetail.personDetail.lastName}}</h3>
                <p class="category">Öğrenci</p>
            </div>
        </div>
    </div>

    <!--Body-->
    <div class="section">
        <div class="container">
            <div class="button-container">
                <a [routerLink]="['/profile/direct-message']" class="btn btn-primary btn-round btn-lg"
                    title="Mesaj Gönder"><i class="now-ui-icons ui-1_send"></i></a>
            </div>

            <h3 class="title">Senin İçin</h3>
            <h5 class="description">“Parayı köleniz yapın, yoksa efendiniz olur.” <br /> - George Bernard Shaw</h5>
            <h4 class="title text-center">Agno: {{studentDetail.agno}}</h4>

            <ngb-tabset [justify]="'center'" type="pills"
                class="nav-pills nav-pills-primary  nav-pills-just-icons justify-content-center tab-space">
                <!--About Student-->
                <ngb-tab>
                    <ng-template ngbTabTitle>
                        <i class="now-ui-icons business_badge"></i>
                    </ng-template>
                    <ng-template ngbTabContent>
                        <div class="text-center">
                            <div class="card text-white bg-primary mb-3" style="max-width: 25rem;">
                                <div class="card-header">{{studentDetail.personDetail.firstName}}
                                    {{studentDetail.personDetail.lastName}}</div>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        {{studentDetail.personDetail.departmentDetail.departmentName}} Öğrencisi</h5>
                                    <p class="card-text text-left">
                                        <br />
                                        <strong>Email: </strong>{{studentDetail.personDetail.email}} <br />
                                        <strong>Sınıf Bilgisi: </strong>{{studentDetail.class}}.Sınıf Aktif Öğrenci
                                    </p>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>

                <!--Lecture Program-->
                <ngb-tab>
                    <ng-template ngbTabTitle>
                        <i class="now-ui-icons education_glasses"></i>
                    </ng-template>
                    <ng-template ngbTabContent>

                    </ng-template>
                </ngb-tab>

                <!--Exam Result-->
                <ngb-tab>
                    <ng-template ngbTabTitle>
                        <i class="now-ui-icons education_paper"></i>
                    </ng-template>

                    <ng-template ngbTabContent>
                        <div class="container">
                            <form [formGroup]="semesterForm">
                                <div class="form-group">
                                    <label for="semesterId">Öğrenim Yılını ve Dönemi Seçin </label>
                                    <select class="form-control" formControlName="semesterId" id="semesterId">
                                        <option *ngFor="let semester of semesters" [ngValue]=semester.id>
                                            {{semester.yearName}} {{semester.semesterName}} </option>
                                    </select>
                                </div>
                                <button (click)="showSemesters()"
                                    class="btn btn-lg btn-primary btn-block">Görüntüle</button>
                            </form>

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Id</th>
                                        <th scope="col">Ders Kodu</th>
                                        <th scope="col">Ders Adı</th>
                                        <th scope="col">Sınav Türü</th>
                                        <th scope="col">Etki Oranı</th>
                                        <th scope="col">Sınav Tarihi</th>
                                        <th scope="col">İlan Tarihi</th>
                                        <th scope="col">Not</th>
                                        <th scope="col">Harf Notu</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let exam of examView">
                                        <th scope="row">{{exam.id}}</th>
                                        <td>{{exam.lectureCode}}</td>
                                        <td>{{exam.lectureName}}</td>
                                        <td>{{exam.examTypeName}}</td>
                                        <td>{{exam.effektRate}}</td>
                                        <td>{{exam.examDate | date: 'dd/MM/yyyy'}}</td>
                                        <td>{{exam.releaseDate | date: 'dd/MM/yyyy'}}</td>
                                        <td>{{exam.point}}</td>
                                        <td>{{exam.letterGradeName}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </ng-template>
                </ngb-tab>

                <!--Student Note Card-->
                <ngb-tab>
                    <ng-template ngbTabTitle>
                        <i class="now-ui-icons education_hat"></i>
                    </ng-template>
                    <ng-template ngbTabContent>

                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>
</div>