<div class="wrapper">
    <!--Header-->
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8"
            style="background-image: url('assets/img/bg5.jpg') ;">
        </div>
        <div class="container">
            <div class="content-center">
                <div class="photo-container">
                    <img src="{{url}}/{{teacherDetail.personDetail.profilePicture.path}}" alt="">
                </div>
                <h3 class="title">{{teacherDetail.denotation.abbreviation}} {{teacherDetail.personDetail.firstName}}
                    {{teacherDetail.personDetail.lastName}}</h3>
                <p class="category">Öğretmen</p>
            </div>
        </div>
    </div>

    <!--Body-->
    <div class="section">
        <div class="container">
            <div class="button-container">
                <a class="btn btn-primary btn-round btn-lg"><i class="now-ui-icons ui-1_send"></i></a>
            </div>

            <h3 class="title">Sizin İçin</h3>
            <h5 class="description">"Sürekliliği sağlamanın bir yolu, hep daha büyük hedefler koymaktır." <br />-
                Michael Korda</h5>
            <div class="row">
                <div class="col-md-12">
                    <h4 class="title text-center"></h4>
                    <ngb-tabset [justify]="'center'" type="pills"
                        class="nav-pills nav-pills-primary  nav-pills-just-icons justify-content-center tab-space">
                        <!--About Teacher-->
                        <ngb-tab>
                            <ng-template ngbTabTitle>
                                <i class="now-ui-icons business_badge"></i>
                            </ng-template>
                            <ng-template ngbTabContent>
                                <div class="text-center">
                                    <div class="card text-white bg-primary mb-3" style="max-width: 25rem;">
                                        <div class="card-header">
                                            {{teacherDetail.denotation.abbreviation}}{{teacherDetail.personDetail.firstName}}
                                            {{teacherDetail.personDetail.lastName}}</div>
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                {{teacherDetail.personDetail.departmentDetail.departmentName}} Bölümü
                                                Öğretim Elemanı
                                            </h5>
                                            <p class="card-text text-left">
                                                <br />
                                                <strong>Email: </strong>{{teacherDetail.personDetail.email}} <br />
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>

                        <!--Lecture Program-->
                        <ngb-tab>
                            <ng-template ngbTabTitle>
                                <i class="now-ui-icons education_agenda-bookmark"></i>
                            </ng-template>
                            <ng-template ngbTabContent>

                            </ng-template>
                        </ngb-tab>

                        <!--Open Lectures-->
                        <ngb-tab>
                            <ng-template ngbTabTitle>
                                <i class="now-ui-icons education_paper"></i>
                            </ng-template>
                            <ng-template ngbTabContent>
                                <div class="container">
                                    <form [formGroup]="semesterForm">
                                        <div class="form-group">
                                            <label for="semesterId">Öğrenim Yılını ve Dönemi Seçin </label>
                                            <select class="form-control" formControlName="semesterId" id="semesterId">
                                                <option *ngFor="let semester of semesters" [ngValue]=semester.id>
                                                    {{semester.yearName}} {{semester.semesterName}} </option>
                                            </select>
                                        </div>
                                        <button (click)="showOpenLectures()"
                                            class="btn btn-lg btn-primary btn-block">Görüntüle</button>
                                    </form>


                                    <div class="card text-white bg-primary mb-3"
                                        style="max-width: 18rem; margin-left: 5px;"
                                        *ngFor="let openLecture of openLectures">
                                        <div class="card-header text-center">{{openLecture.lectureCode}}</div>
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                {{openLecture.lectureName}}
                                            </h5>
                                            <p class="card-text text-left">
                                                <strong>Sınıf: </strong>{{openLecture.class}}<br />
                                                <strong>Ders-Öğretim Türü:
                                                </strong>{{openLecture.lectureTypeName}}-{{openLecture.educationType}}<br />
                                                <strong>Bölüm: </strong>{{openLecture.departmentName}}<br />
                                            </p>
                                            <div class="container text-center">
                                                <button routerLink="/lectures/lecture-detail/{{openLecture.lectureId}}" type="button" class="btn btn-outline-danger">Ders Detayları</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
        </div>
    </div>
</div>