<div class="wrapper">
    <!--Header-->
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8"
            style="background-image: url('assets/img/bg5.jpg') ;">
        </div>
        <div class="container">
            <div class="content-center">
                <div class="photo-container">
                    <img src="assets/img/ryan.jpg" alt="">
                </div>
                <h3 class="title">Halil İbrahim ŞENAYDIN</h3>
                <p class="category">Öğretmen</p>
            </div>
        </div>
    </div>

    <!--Body-->
    <div class="section">
        <div class="container">
            <div class="button-container">
                <a class="btn btn-primary btn-round btn-lg"><i class="now-ui-icons ui-1_send"></i></a>
            </div>

            <h3 class="title">Sizin İçin</h3>
            <h5 class="description">"Sürekliliği sağlamanın bir yolu, hep daha büyük hedefler koymaktır." <br />-
                Michael Korda</h5>
            <div class="row">
                <div class="col-md-12">
                    <h4 class="title text-center"></h4>
                    <ngb-tabset [justify]="'center'" type="pills"
                        class="nav nav-pills nav-pills-primary  nav-pills-just-icons justify-content-center tab-space">

                        <!--Lecture Program-->
                        <ngb-tab>
                            <ng-template ngbTabTitle>
                                <i class="now-ui-icons education_agenda-bookmark"></i>
                            </ng-template>
                            <ng-template ngbTabContent>

                            </ng-template>
                        </ngb-tab>

                        <!--Exam-->
                        <ngb-tab>
                            <ng-template ngbTabTitle>
                                <i class="now-ui-icons education_paper"></i>
                            </ng-template>
                            <ng-template ngbTabContent>

                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
        </div>
    </div>
</div>