<footer class="footer" data-background-color="black">
    <div class="container">
        <nav>
            <ul>
                <li>
                    <a href="https://github.com/halilsenaydin">
                        GitHub
                    </a>
                </li>
                <li>
                    <a href="https://tr.linkedin.com/in/halil-ibrahim-şenaydın-6b50331b8?trk=public_profile_browsemap_profile-result-card_result-card_full-click">
                        Linked In
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/lilahsenaydin">
                        Twitter
                    </a>
                </li>
                <li>
                    <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                        MIT License
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright">
            &copy;
          {{data | date: 'yyyy'}}
            <a href="https://github.com/halilsenaydin" target="_blank">lilah</a>.
        </div>
    </div>
</footer>